<style>
    nav{
        background-color: black;
        color: white;
        text-align: left;
        padding: 1px;
    }
    nav li{
        display: inline-block;
        font-size: 1.5em;
        padding-right: 2em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }
    nav a{
        color: white;
        text-decoration: none;
    }
    .navbar{
        position: sticky;
    }
    .navbar a:hover {
        color: aqua;
    }
</style>
<div class= "navbar">
    <nav>
        <ul>
            <li><a href = "/">Home</a> </li>
            <li><a href = "/aboutMe">About</a></li>
            <li> <a href ="/assets/NidhiPatelResume.pdf" target="_blank">Resume</a></li>
            <li><a href = "/contact">Contact</a></li>
            
            
        </ul>
    </nav>
</div>