<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="css/project.css">
    <title>Document</title>
    <%- include('../partials/navbar.ejs') %>
</head>

<body>
    <div class= "box">
        <a href = "https://github.com/nidhibpatel/Trivia" target="_blank">
            <div class="card " data-tilt data-tilt-glare data-tilt-max-glare="0.3">
            
            <div class="card-image">
                
            </div>
            <div class= "card-text"> 
                <h2>Trivia</h2>
                <p>A program which asks the user 5 questions. If the answer is correct user gains points and if it's incorrect it shows the user the correct answer. </p>
            </div>
        </div> </a>

    <div class= "card" data-tilt data-tilt-glare data-tilt-max-glare="0.3">


    </div>
    <div class= "card" data-tilt data-tilt-glare data-tilt-max-glare="0.3">
        

    </div>
        <script src= "/js/vanilla-tilt.min.js"></script>
        <script>
            VanillaTilt.init(document.querySelectorAll(".card"),{
              glare: true,
              reverse: true,
              "max-glare": 0.3
            });
          </script>
    </div>
    
    
    
   
    
</body>

</html>